#main_dashboard {
    transition: margin-right 0.5s;
}
#side_menue {
    height: 100%;
    width: 0;
    /* display: none; */
    visibility: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: aqua;
    overflow: hidden;
    transition: 0.5s;
}
.side_content{
    display: block;
}
